.title {
   font-size: 3.5rem;
   font-weight: 700;
   margin: 2rem 0 0 3rem;
}

.description {
   position: absolute;
   left: 50%;
   bottom: 5%;
   transform: translateX(-50%);
   display: flex;
   justify-content: center;
   text-align: center;
   width: 30%;
}

@media (max-width: 990px) {
   .description {
      width: 60%;
      bottom: 20%;
   }
}

@media (max-width: 500px) {
   .title {
      text-align: center;
   }

   .description {
      width: 70%;
      bottom: 15%;
   }
}

@media (max-width: 450px) {
   .title {
      text-align: center;
   }

   .description {
      width: 70%;
      bottom: 15%;
   }
}
