.container {
   position: relative;
   height: 100vh;
}

.title {
   font-size: 3.5rem;
   font-weight: 700;
   padding: 2rem 0 0 3rem;
   color: white;
}

.description {
   width: 100%;
   color: white;
   display: flex;
   justify-content: center;
   text-align: center;
}

.description p {
   width: 50%;
}

@media (max-width: 500px) {
   .title {
      text-align: center;
      padding-left: 0;
   }

   .description p {
      width: 70%;
   }
}

@media (max-width: 450px) {
   .title {
      text-align: center;
   }

   .description p {
      width: 70%;
   }
}
