.section {
   position: relative;
   height: 100vh;
   background-color: black;
   z-index: 3;
}

.title_container {
   position: relative;
   display: flex;
   justify-content: center;
}

.title {
   position: absolute;
   color: #fff;
   font-size: 4.5rem;
   padding-top: 5%;
}

.mail_container {
   position: absolute;
   bottom: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.email {
   position: relative;
   display: inline-block;
   font-size: 2rem;
   color: #fff;
   text-decoration: none;
}

.email::before,
.email::after {
   content: "";
   position: absolute;
   bottom: 0;
   width: 50%;
   height: 2px;
   background-color: currentColor;
   transform: scaleX(0);
   transition: transform 0.3s ease;
}

.email:hover::before,
.email:hover::after {
   transform: scaleX(1);
}

.email::before {
   left: 50%;
   transform-origin: left;
}

.email::after {
   right: 50%;
   transform-origin: right;
}

.social_media_container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 90%;
   gap: 40px;
}

.social_media_card {
   border: 1px solid white;
   border-radius: 15px;
   width: 25rem;
   height: 25rem;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   transition: all 0.5s ease-in-out;
}

.social_media_card img {
   width: 100%;
   display: block;
   object-fit: contain;
   padding: 20px;
}

.social_media_card:hover {
   transform: scale(1.1) !important;
   box-shadow: 0 0 20px 4px rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .social_media_card {
      width: 20rem;
      height: 20rem;
   }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
   .title_container {
      margin-bottom: 5%;
   }

   .title {
      font-size: 3.5rem;
   }

   .social_media_container {
      flex-direction: column;
   }

   .social_media_card {
      width: 15rem;
      height: 15rem;
   }

   .mail_container {
      bottom: 7%;
   }
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
   .title_container {
      margin-bottom: 5%;
   }

   .title {
      /* font-size: 3rem; */
      font-size: 8vw;
   }

   .social_media_container {
      flex-direction: column !important;
   }

   .social_media_card {
      /* width: 15rem; */
      width: 40vw;
      /* height: 15rem; */
      height: 40vw;
   }

   .mail_container {
      bottom: 7%;
   }
}
