.header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1;
   transition: transform 0.3s ease;
}

.header_section {
   position: relative;
   background-color: #1a1a1a;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   justify-content: flex-start;
   align-items: center;
   background-image: url("../../assets/images/bordeaux-place-bourse.jpeg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.header_section::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: inherit;
   filter: grayscale(100%);
   clip-path: polygon(0% 0, 60% 0, 20% 100%, 0 100%);
}

.header_title,
.header_subtitle {
   position: absolute;
   font-family: "NimbusBold", sans-serif;
   text-transform: uppercase;
   color: white;
   z-index: 10;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
   cursor: default;
}

.title_letter,
.subtitle_letter {
   display: inline-block;
   position: relative;
   transition: transform 0.3s ease;
}

.title_reflection,
.subtitle_reflection {
   display: block;
   opacity: 0.8;
   position: absolute;
   top: 100%;
   filter: blur(2px);
}

.header_subtitle,
.subtitle_reflection {
   font-size: 7.5rem;
}

.title_letter,
.subtitle_letter,
.title_reflection,
.subtitle_reflection {
   transition: transform 0.3s ease;
}

.header_title {
   top: 50%;
}

.header_subtitle {
   top: 65%;
}

.title_letter {
   font-size: 6rem;
}

.title_reflection {
   font-size: 6rem !important;
   transform: translateY(-38px) scaleY(-1) !important;
}

.subtitle_letter {
   font-size: 7.5rem;
}

.subtitle_reflection {
   font-size: 7.5rem !important;
   transform: translateY(-48px) scaleY(-1) !important;
}

.title_reflection .letter {
   display: block;
}

.reflectedHover {
   transform: scaleY(-1) translateY(15px) !important;
}

.header_infos {
   position: absolute;
   top: 20px;
   right: 20px;
   width: 100%;
   text-align: right;
   color: white;
   z-index: 10;
}

.header_green_light {
   background-color: rgb(33, 240, 33);
   width: 15px;
   height: 15px;
   margin-right: 10px;
   border-radius: 50%;
   display: inline-block;
   animation: pulse 2s infinite;
}

@keyframes pulse {
   0% {
      transform: scale(0.95);
      opacity: 0.7;
   }
   50% {
      transform: scale(1.05);
      opacity: 1;
   }
   100% {
      transform: scale(0.95);
      opacity: 0.7;
   }
}

.work_container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -76%);
   padding: 10px 20px;
   border: 1px solid white;
   border-radius: 30px;
}

.header_work {
   margin: 0;
   font-size: 2rem;
}

.header_place,
.header_time {
   margin: 0;
   font-size: 2rem;
}

.container_time {
   width: auto;
   display: inline-block;
   backdrop-filter: blur(8px);
   padding: 10px;
   border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .header_title {
      top: 55%;
   }

   .title_letter {
      font-size: 4.5rem;
   }

   .title_reflection {
      font-size: 4.5rem !important;
      transform: translateY(-28px) scaleY(-1) !important;
   }

   .subtitle_letter {
      font-size: 5.5rem;
   }

   .subtitle_reflection {
      font-size: 5.5rem !important;
      transform: translateY(-36px) scaleY(-1) !important;
   }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
   .header_title {
      top: 55%;
   }

   .header_subtitle {
      top: 70%;
   }

   .title_letter {
      font-size: 3.5rem;
   }

   .title_reflection {
      font-size: 3.5rem !important;
      transform: translateY(-20px) scaleY(-1) !important;
   }

   .subtitle_letter {
      font-size: 3.5rem;
   }

   .subtitle_reflection {
      font-size: 3.5rem !important;
      transform: translateY(-20px) scaleY(-1) !important;
   }

   .container_time {
      display: none;
   }

   .header_infos {
      top: 8%;
      left: 50%;
      transform: translateX(-50%);
   }
}

@media only screen and (min-width: 380px) and (max-width: 480px) {
   .header_title {
      top: 60%;
   }

   .header_subtitle {
      top: 70%;
   }

   .title_letter {
      /* font-size: 2.5rem; */
      font-size: 7vw;
   }

   .title_reflection {
      /* font-size: 2.5rem !important; */
      font-size: 7vw !important;
      transform: translateY(-16px) scaleY(-1) !important;
   }

   .subtitle_letter {
      /* font-size: 2.5rem; */
      font-size: 7vw;
   }

   .subtitle_reflection {
      /* font-size: 2.5rem !important; */
      font-size: 7vw !important;
      transform: translateY(-16px) scaleY(-1) !important;
   }

   .work_container {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -70%);
   }

   .work_container p {
      font-size: 1.6rem;
   }

   .container_time {
      display: none;
   }

   .header_infos {
      top: 8%;
      left: 50%;
      transform: translateX(-50%);
   }
}
