.container {
   position: relative;
   height: 100vh;
   background-color: black;
   margin-top: 100vh;
   z-index: 2;
}

.title {
   font-size: 3.5rem;
   font-weight: 700;
   padding-top: 2rem;
   margin-left: 5rem;
   color: white;
   font-family: "NimbusBold", sans-serif;
}

.description {
   width: 100%;
   font-size: 1.6rem;
   color: white;
   display: flex;
   justify-content: center;
   text-align: center;
}

.description p {
   width: 50%;
}

@media (max-width: 500px) {
   .title {
      text-align: center;
      margin-left: 0;
      padding-left: 0;
   }

   .description p {
      width: 70%;
   }
}

@media (max-width: 450px) {
   .title {
      text-align: center;
      margin-left: 0;
   }

   .description p {
      width: 70%;
   }
}
