.container {
   position: relative;
   height: 100vh;
   background-color: black;
   z-index: 3;
}

.title {
   color: #fff;
   font-size: 3.5rem;
   font-family: "NimbusBold", sans-serif;
   margin: 0 0 10rem 5rem;
   padding: 2rem 0;
}

.cardTitle,
.trainingDate,
.trainingDescription,
.trainingCertificate {
   color: #fff;
}

.trainingDate,
.trainingDescription {
   margin-bottom: 1.5rem;
}

.card {
   border-radius: 8px;
   margin: 20px auto;
   width: 95%;
   height: 280px;
   overflow: hidden;
   position: relative;
}

.cardTitle,
.cardBody {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: opacity 0.5s ease;
   cursor: pointer;
}

.cardTitle {
   background-color: #000000;
   padding: 20px;
   font-size: 2.5rem;
   text-align: center;
   font-family: "NimbusBold", sans-serif;
   z-index: 2;
   border-bottom: rgba(191, 191, 191, 0.068) solid 2px;
}

.cardBody {
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   background-color: #000000;
   padding: 20px;
   text-align: center;
   opacity: 0;
   z-index: 1;
   border-bottom: rgba(191, 191, 191, 0.068) solid 2px;
}

.trainingDate,
.trainingDescription,
.trainingCertificate {
   font-size: 2rem;
}

.trainingDescription {
   text-align: justify;
   width: 70%;
}

.card::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000000; /* Couleur de balayage */
   z-index: 3;
   transform: translateX(-100%);
   transition: transform 0.5s ease;
   border-bottom: rgba(191, 191, 191, 0.068) solid 2px;
}

.card.swipeLeft::before {
   transform: translateX(100%);
}

.card.swipeRight::before {
   transform: translateX(-100%);
}

.card.swipeLeft .cardTitle {
   opacity: 0;
}

.card.swipeLeft .cardBody {
   opacity: 1;
}

.card.swipeRight .cardTitle {
   opacity: 1;
}

.card.swipeRight .cardBody {
   opacity: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1080px) {
   .title {
      margin: 0 0 4rem 5rem;
      padding: 2rem 0;
   }

   .trainingDescription {
      width: 80%;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .title {
      margin: 0 0 2rem 5rem;
      padding: 2rem 0;
   }

   .trainingDescription {
      width: 80%;
   }

   .trainingDate,
   .trainingDescription,
   .trainingCertificate {
      font-size: 1.8rem;
   }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
   .title {
      text-align: center;
      margin: 0 0 2rem 0;
      padding: 2rem 0;
   }

   .trainingDescription {
      width: 95%;
   }

   .trainingDate,
   .trainingDescription,
   .trainingCertificate {
      font-size: 1.5rem;
   }

   .card {
      height: 300px;
   }
}

@media only screen and (min-width: 380px) and (max-width: 480px) {
   .title {
      text-align: center;
      margin: 0 0 2rem 0;
      padding: 2rem 0 0 0;
   }

   .trainingDescription {
      width: 90%;
   }

   .trainingDate,
   .trainingDescription,
   .trainingCertificate {
      /* font-size: 1.4rem; */
      font-size: 3.5vw;
   }

   .card {
      height: 320px;
   }
}
